<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout}">

<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
</head>
<div layout:fragment="contents">
    <h1>
        <span th:text="${boardNo}"></span>. 게시글 상세 페이지
    </h1>
    <p class="uk-text-right">
        조회수 : <span class="uk-badge" th:text="${board.views}"></span>
    </p>
    <p class="uk-text-right">
        <a class="uk-button uk-button-small uk-button-primary"
           th:href="@{'modify.do'(boardNo=${board.boardNo})}">수정 폼</a>
    </p>
    <div class="uk-margin">
        <label class="uk-form-label" for="userBoardNo">번호 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" readonly id="userBoardNo"
                   th:value="${board.boardNo}" name="boardNo">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardTitle">제목 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" readonly id="boardTitle"
                   th:value="${board.title}" name="title">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardUserId">글쓴이(id) : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" readonly id="boardUserId"
                   th:value="${board.userId}" name="userId">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardUserId">글쓴이(이름,이메일) : </label>
        <div class="uk-inline uk-padding-small uk-form-width-large">
            <span th:text="${board.user.name}"></span>
            , <span th:text="${board.user.email}"></span>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardPostTime">게시글 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" readonly id="boardPostTime"
                   th:value="${#calendars.format(board.postTime,'yyyy년 MM월 dd일 HH:mm:ss')}" name="postTime">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardContents">내용 : </label>
        <div class="uk-inline uk-form-width-large">
            <textarea class="uk-textarea uk-form-blank" rows="5" readonly id="boardContents"
                      th:text="${board.contents}" name="contents"></textarea>
        </div>
    </div>
    <h2>댓글 리스트</h2>
    <th:block th:each="reply : ${replyList}">
        <div class="uk-card uk-card-default uk-width-1-1">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div th:if="${reply.getImgPath!=null}" class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40"
                             th:src="@{'/img/{imgPath}'(imgPath=${reply.getImgPath})}" alt="Avatar">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom" th:text="${reply.title}"></h3>
                        <p class="uk-text-meta uk-margin-remove">
                            <time datetime="" th:text="${#calendars.format(reply.postTime)}"></time>
                        </p>
                        <p class="uk-text-secondary uk-margin-remove">
                            <span th:text="${reply.userId}"></span>
                            <span></span>
                            <span></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p th:text="${reply.contents}"></p>
            </div>
            <div class="uk-card-footer">
                <ul class="uk-breadcrumb">
                    <li>
                        <a href="#" class="uk-button uk-button-text uk-text-warning">수정</a>
                    </li>
                    <li>
                        <a href="#" class="uk-button uk-button-text uk-text-primary">등록</a>
                    </li>
                    <li>
                        <a href="#" class="uk-button uk-button-text uk-text-danger">삭제</a>
                    </li>
                </ul>

            </div>
        </div>

    </th:block>
</div>
</html>