<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout}">

<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
</head>
<div layout:fragment="contents">
    <h1>
        <span th:text="${boardNo}"></span>. 게시글 상세 페이지
    </h1>
    <p class="uk-text-right">
        조회수 : <span class="uk-badge" th:text="${board.views}"></span>
    </p>
    <p class="uk-text-right">
        <a class="uk-button uk-button-small uk-button-primary"
           th:href="@{'modify.do'(boardNo=${board.boardNo})}">수정 폼</a>
    </p>
    <div class="uk-margin">
        <label class="uk-form-label" for="userBoardNo">번호 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" readonly id="userBoardNo"
                   th:value="${board.boardNo}" name="boardNo">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardTitle">제목 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" readonly id="boardTitle"
                   th:value="${board.title}" name="title">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardUserId">글쓴이(id) : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" readonly id="boardUserId"
                   th:value="${board.userId}" name="userId">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardUserId">글쓴이(이름,이메일) : </label>
        <div class="uk-inline uk-padding-small uk-form-width-large">
            <span th:text="${board.user.name}"></span>
            , <span th:text="${board.user.email}"></span>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardPostTime">게시글 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" readonly id="boardPostTime"
                   th:value="${#calendars.format(board.postTime,'yyyy년 MM월 dd일 HH:mm:ss')}" name="postTime">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="boardContents">내용 : </label>
        <div class="uk-inline uk-form-width-large">
            <textarea class="uk-textarea uk-form-blank" rows="5" readonly id="boardContents"
                      th:text="${board.contents}" name="contents"></textarea>
        </div>
    </div>
    <h2>댓글 리스트</h2>
    <div th:if="${session.loginUser!=null}" id="replyRegisterContainer">
        <th:block th:include="/reply/register"></th:block>
    </div>
    <div id="replyListContainer">
        <th:block th:include="/reply/list"></th:block>
    </div>
<script th:inline="javascript">
    const replyListContainer=document.getElementById("replyListContainer");

function loadRegisterForm(replyNo){
    const replyRegisterForm=document.forms["replyRegisterForm"];
    const cloneForm=replyRegisterForm.cloneNode(true);
    cloneForm.onsubmit=function (e){
        loadReplyList(e,cloneForm);
    }
    cloneForm.fkReplyNo.value=replyNo;
    let selector="reReplyRegisterContainer"+replyNo;
    const reReplyRegisterContainer=document.getElementById(selector);
    reReplyRegisterContainer.append(cloneForm);
}

function init(){
    const pageBtns=replyListContainer.querySelectorAll(".uk-pagination a");
    const replyRegisterForm=document.forms["replyRegisterForm"];
    pageBtns.forEach((btn)=>{
        btn.onclick=async (e)=>{
            e.preventDefault();
            let btnUrl=e.target.href;
            let queryString=btnUrl.split("?")[1];
            let url="/reply/[[${boardNo}]]/list.do?"+queryString;
            const resp=await fetch(url);
            const html=await resp.text();
            replyListContainer.innerHTML=html;
            init();
        }
    });
    replyRegisterForm.onsubmit=function (e){
        loadReplyList(e,replyRegisterForm);
    };
}
init();
async function loadReplyList(e , replyRegisterForm){
    e.preventDefault();
    let url="/reply/register.do";
    const formData=new FormData(replyRegisterForm);
    //let queryString="?userId="+replyRegisterForm.userId.value+"&title="+replyRegisterForm.title.value;
    //post 통신으로 하더라도 fetch 로 통신시 파라미터를 queryString 을 생성해서 통신해야 한다.!!
    //multipart/form-data 로 전달할때는 new FormData(formNode)를 넣으면 자동으로 파라미터 생성
    const resp=await fetch(url,{method:"POST",body:formData});
    const json=await resp.json();
    console.log(json);
    if(json.state==1){
        const resp= await fetch("/reply/[[${boardNo}]]/list.do");
        const html=await resp.text();
        replyListContainer.innerHTML=html;
        init();
    }
}

</script>

</div>
</html>