<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>유저리스트</title>
</head>
<div layout:fragment="contents">
    <h1>유저 리스트</h1>
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-hover">
            <thead>
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>생일</th>
                    <th>폰번호</th>
                    <th>가입일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user:${userList}" style="cursor: pointer"
                    th:onclick="location.href = [[@{'detail.do' (user_id=${user.user_id})}]]">
                    <td th:text="${user.user_id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.birth}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.signup}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <th:block th:insert="/pagination"></th:block>
</div>
</html>