<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout}">

<head>
    <meta charset="UTF-8">
    <title>유저 수정 양식</title>
</head>
<div layout:fragment="contents">
    <h1><span th:text="${param.user_id}"></span> 유저 수정 양식 페이지</h1>
    <form action="modify.do" method="post">
        <br>
        <div class="uk-margin">
            <label class="uk-form-label" for="userUserId">아이디 : </label>
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                <input class="uk-input uk-form-blank" type="text" readonly id="userUserId"
                       th:value="${user.user_id}" name="user_id">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="userName">이름 : </label>
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: happy"></span>
                <input class="uk-input uk-form-blank" type="text" id="userName"
                       th:value="${user.name}" name="name">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="userPw">비밀번호 : </label>
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input uk-form-blank" type="password" id="userPw"
                       th:value="${user.pw}" name="pw">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="userPhone">폰번호 : </label>
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: phone"></span>
                <input class="uk-input uk-form-blank" type="text" id="userPhone"
                       th:value="${user.phone}" name="phone">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="userEmail">이메일 : </label>
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                <input class="uk-input uk-form-blank" type="text" id="userEmail"
                       th:value="${user.email}" name="email">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="userBirth">생일(나이) : </label>
            <div class="uk-inline">
                <input class="uk-input uk-form-blank" type="date" id="userBirth"
                       th:value="${#calendars.format(user.birth,'yyyy-MM-dd')}" name="birth">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="userSignup">가입일 : </label>
            <div class="uk-inline">
                <input class="uk-input uk-form-blank" type="datetime-local" id="userSignup"
                       th:value="${#calendars.format(user.signup,'yyyy-MM-dd HH:mm')}"
                       name="signup">
            </div>
        </div>
        <div class="uk-margin-top">
            <button class="uk-button uk-button-default" type="reset">초기화</button>
            <button class="uk-button uk-button-primary" type="submit">수정</button>
            <a class="uk-button uk-button-danger" th:href="@{'delete.do'(user_id=${user.user_id})}">삭제</a>

        </div>
    </form>

</div>
</html>