<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <form name="replyModifyForm" enctype="multipart/form-data" action="/reply/modify.do" method="post" class="uk-margin-bottom uk-card uk-card-default uk-width-1-1">
    <input type="hidden" name="boardNo" th:value="">
    <input type="hidden" name="fkReplyNo">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">댓글 수정 폼</h3>
          <p class="">
            <input class="uk-input uk-form-small" name="userId" readonly th:value="">
          </p>
          <p class="uk-margin-remove-bottom">
            <input class="uk-input uk-form-small" name="title" value="" placeholder="제목">
          </p>
          <p uk-form-custom="target: true">
            <input type="file" name="imgFile">
            <input class="uk-input uk-form-small" type="text" placeholder="이미지 파일">
          </p>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <p>
        <textarea name="contents" class="uk-textarea uk-width-1-1" rows="2" placeholder="내용"></textarea>
      </p>
    </div>
    <div class="uk-card-footer">
      <ul class="uk-breadcrumb">
        <li>
          <button type="reset" class="uk-button uk-button-text uk-text-warning">초기화</button>
        </li>
        <li>
          <button type="submit" class="uk-button uk-button-text uk-text-primary">수정</button>
        </li>
      </ul>
    </div>
  </form>
</html>