<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>SPRING_BOOT Mybatis</title>
</head>
<div layout:fragment="contents">
    <h1>SPRING_MYBATIS 로 DB 접속을 관리하자!</h1>
    <h2>게시글의 좋아요 싫어요 구현하기</h2>
    <h3>SPRING_BOARD.BOARD_PREFER</h3>
    <ol>
        <li>BOARD_PREFER 테이블에 대응되는 BoardPreferDto POJO 생성
            <ul>
                <li>board_prefer_no :pk</li>
                <li>board_no : 좋아요 싫어요를 한 게시글 fk</li>
                <li>prefer : 0.싫어요, 1.좋아요</li>
                <li>user_id : 좋아요 싫어요를 한 사람</li>
                <li>board_no+user_id(uk) : 해당 게시글에 유저가 한번만 좋아요를 정의하도록 uk로 정의함</li>
            </ul>
        </li>
        <li>BoardPreferViewDto 생성 : 게시글 상세에 출력될 좋아요 싫어요 내역
            <ul>
                <li>likes: 해당 게시글에 좋아요를 한 수 countByBoardNoAndPreferIsTrue(boardNo )</li>
                <li>bads: 해당 게시글에 싫어요를 한 수 countByBoardNoAndPreferIsFalse(boardNo )</li>
                <li>loginUserPrefer : 로그인한 유저가 해당글에 좋아요 싫어요를 했는지 findByBoardNoAndUserId(boardNo,userId)</li>
            </ul>
        </li>
        <li>BoardDto.BoardPreferViewDto (boardPreferView) 필드 생성 : 게시글 상세에 출력될 좋아요 싫어요 내역
        <li>BoardPreferMapper 인터페이스와 xml 을 생성하고 사용할 sql 문 정의
            <ul>
                <li>게시글 조회시 좋아요를 한 수 : countByBoardNoAndPreferIsTrue(int boardNo)</li>
                <li>게시글 조회시 싫어요를 한 수 : countByBoardNoAndPreferIsFalse(int boardNo)</li>
                <li>게시글에서 좋아요,싫어요 를 등록 : insert(boardPrefer)</li>
                <li>게시글에서 좋아요,싫어요 를 수정 (좋아요를 싫어요로 변경) update(boardPrefer)</li>
                <li>게시글에서 좋아요,싫어요 를 삭제 (좋아요를 취소하면 삭제) delete(int boardPreferNo)</li>
                <li>로그인한 유저가 해당 게시글에 좋아요 싫어요를 했는지 확인 
                    (한번만 정의하기 위해 확인용+뷰에 로그인한 사람이 좋아요를 했다면 표시하기 위해) 
                    findByBoardNoAndUserId(int boardNo,String userId)
                </li>
            </ul>
        </li>
        <li>BoardPreferMapperTest 생성후 테스트 진행</li>
        <li>BoardMapper 인터페이스와 xml에 countPreferById 생성하고 사용할 sql 문 정의
            <ul>
                <li>게시글 조회시 좋아요와 싫어요를를 한 수  : BoardPreferViewDto countPreferById(int boardNo)</li>
                <li>resultMap.BoardPreferViewMap 정의 후 countPreferById를 fetch 조인으로 출력하게 변경 , 호출</li>
                <li>BoardPreferViewDto.likes=countByBoardNoAndPreferIsTrue</li>
                <li>BoardPreferViewDto.bads=countByBoardNoAndPreferIsFalse</li>
                <li>resultMap.BoardMap.boardPreferView 를 BoardPreferViewMap으로 정의 </li>
            </ul>
        </li>
        <li>BoardMapperTest 에 countPreferById 테스트 후 findById 에서 좋아요 싫어요 내역 출력 확인하기</li>

        <li>BoardPreferService 생성
            <ul>
                <li>BoardPreferViewDto detailBoardPreferView(boardNo,loginUserId) : 해당 게시글에 출력될 좋아요 싫어요 내역 BoardPreferViewDto 생성</li>
                <li>int register(BoardPreferDto boardPrefer) : 좋아요 싫어요 등록</li>
                <li>int modify(BoardPreferDto boardPrefer) : 좋아요를 싫어요로 수정</li>
                <li>int remove(int boardPreferNo) : 좋아요를 삭제</li>
                <li>BoardPreferDto detail(int boardNo,String loginUserId) : 로그인한 유저가 해당 게시글에 좋아요를 했는지 확인 </li>
            </ul>
        </li>
        <li>BoardController.detail(get:"/baoard/detail.do") 에 로그인한 유저가 있으면 BoardPreferService.detail 호출해서 좋아요 싫어요 내역 확인및 추가</li>
        <li>templates/board/boardPrefer.html 생성 및 templates/board/detail.html 에 th:include 로 포함
            <ul>
                <li>board 상세 페이지에 board.boardPreferView 를 호출하면  boardPrefer.html 을 포함하면 자동으로 조인해서 출력함</li>
                <li>BoardMapper.BoardMap.boardPreferView 을  BoardPreferViewMap 으로 맵팽했고 해당 map 에서 다시 호출을 정의함.</li>
                <li> 엄치척 아이콘 추가 : https://heroicons.com/ 에서 svg 복사 </li>
                <li> uikit 의 버튼에 아웃라인만 있는 디자인이 없어서 .like_button,.bad_button 추가 </li>
                <li> 로그인한 유저가 있으면 버튼에 .uk-active 추가 하도록 정의</li>
            </ul>
        </li>
        <li>BoardPreferController 생성후 좋아요 싫어요 요청 처리
            <ul>
                <li>view(get:"/board/prefer/view.do?boardNo=?[loginUser]) : 게시글 상세에서 포함되는 templates/board/boardPrefer.html 을 렌더링 하는 페이지 (ajax 호출시 내용이 변경되면 새로고침하기 위해 생성)</li>
                <li>
                    handler(patch:"/board/prefer/handler.do?boardNo=?"[loginUser:required=true]) : 좋아요 싫어요 버튼을 누르면 어떻게 하는지 처리하는 페이지
                    <ul>
                        <li>우선 유저가 좋아요 싫어요를 누른적이 있는지 확인 BoardPreferService.detail(boardNo,loginUserId)</li>
                        <li>레코드가 없다면 누른 버튼을 등록  :BoardPreferService.register()</li>
                        <li>레코드가 있는데 누른 버튼가 같은 것을 눌렀다면 삭제 : BoardPreferService.remove()</li>
                        <li>레코드가 있는데 다른 버튼을 눌렸다면 누른 버튼으로 수정 : BoardPreferService.modify()</li>
                        <li>처리가 완료되면 성공 1, 실패 0 메세지 반환 (status: 400[게시글 번호가 없거나 로그인이 안됨],405[다른 method 로 호출],500[db 서버 오류 다시 시도])</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>templates/board/boardPrefer.html button 에 온클릭 이벤트 재정의 및  /board/detail.html 에 이벤트를 실행할 함수 정의
            <ul>
                <li> 좋아요 싫어요 버튼을 a태그로 만드로 "/board/prefer/handler.do?boardNo=?&preferBtn=?"이 동기식으로 통신해서 수정되는지 테스트</li>
                <li> 좋아요 싫어요가 수정되는 것을 확인후 a 태그를 버튼으로 바꾸고 클릭 이벤트를 boardPreferHandler(boardNo,preferBtn)으로 정의 함</li>
                <li> /board/detail.html 에 boardPreferHandler 함수를 정의 하고 fetch api 로 (put: /board/prefer/handler.do) 를 호출해서 좋아요 싫어요 수정</li>
                <li> 수정이 완료된 것이 확인되면(state=1) fetch 로 다시 (put: /board/prefer/view.do)를 호출해 바뀐 내역을 화면에 출력</li>
            </ul>
        </li>

    </ol>
</div>
</html>