<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>SPRING_BOOT Mybatis</title>
</head>
<div layout:fragment="contents">
    <h1>SPRING_MYBATIS 로 DB 접속을 관리하자!</h1>
    <h2>session 으로 alert 창에 메세지 보내기</h2>
    <ol>
        <li>처리 동적 페이지 (등록,수정,삭제,로그인..) 에서 보낼 메세지가 있다면 session.setAttribute("msg","로그인 하세요!"); 를 작성</li>
        <li>모든 뷰에 포함 되는 headerNav.html 에 모달 추가하기
            <ul>
                <li>uk-modal 추가후 th:text="${session.msg}" 로 모달 메세지 추가</li>
                <li>해당 모달 밑에  sesssion.msg가 있으면 모달을 화면에 보여주겠다고 스크립트로 작성 UIkit.modal(element).show();</li>
                <li>스프링 타임리프 3.0.0 버전 미만에서는 출력한 메세지가 더이상 출력되지 않도록 삭제 가능</li>
                <li>script th:inline="javascript"  ${#session.removeAttribute("msg")}   </li>
            </ul>
        </li>
        <li>타임 리프 3.0.0 이상 부터 session 객체가 읽기 전용으로 변경되어 msg 삭제가 불가능(오류) 때문에 get 방식으로 오는 모든 요청에을 검사후 msg 가 있으면 삭제하도록 구현</li>
        <li>interceptor>MsgRemoveInterceptor.afterCompletion 재정의  : afterCompletion 은 뷰의 렌더링이 끝나는 시점으로  session.msg 로 모달을 구현하고 삭제함 </li>
        <li>afterCompletion : get 방식으로 요청이 오는데 session.msg 가 있다면 삭제하도록 구현 (get  방식이 아닌곳에서 처리한 결과를 msg 로 만들기 때문에 msg 가 출력도 되기 전에 삭제됨)</li>
        <li>InterceptorConfig 에서 "/" ,"/*/*.do"로 오는 요청을 인터셉터하도록 정의 함</li>
    </ol>
    <h2>게시글의 좋아요 싫어요 구현하기</h2>
    <h3>SPRING_BOARD.BOARD_PREFER</h3>
    <ol>
        <li>BOARD_PREFER 테이블에 대응되는 BoardPreferDto POJO 생성
            <ul>
                <li>board_prefer_no :pk</li>
                <li>board_no : 좋아요 싫어요를 한 게시글 fk</li>
                <li>prefer : 0.싫어요, 1.좋아요</li>
                <li>user_id : 좋아요 싫어요를 한 사람</li>
                <li>board_no+user_id(uk) : 해당 게시글에 유저가 한번만 좋아요를 정의하도록 uk로 정의함</li>
            </ul>
        </li>
        <li>BoardPreferViewDto 생성 : 게시글 상세에 출력될 좋아요 싫어요 내역
            <ul>
                <li>likes: 해당 게시글에 좋아요를 한 수 countByBoardNoAndPreferIsTrue(boardNo )</li>
                <li>bads: 해당 게시글에 싫어요를 한 수 countByBoardNoAndPreferIsFalse(boardNo )</li>
                <li>loginUserPrefer : 로그인한 유저가 해당글에 좋아요 싫어요를 했는지 findByBoardNoAndUserId(boardNo,userId)</li>
            </ul>
        </li>
        <li>BoardDto.BoardPreferViewDto (boardPreferView) 필드 생성 : 게시글 상세에 출력될 좋아요 싫어요 내역
        <li>BoardPreferMapper 인터페이스와 xml 을 생성하고 사용할 sql 문 정의
            <ul>
                <li>게시글 조회시 좋아요를 한 수 : countByBoardNoAndPreferIsTrue(int boardNo)</li>
                <li>게시글 조회시 싫어요를 한 수 : countByBoardNoAndPreferIsFalse(int boardNo)</li>
                <li>게시글에서 좋아요,싫어요 를 등록 : insert(boardPrefer)</li>
                <li>게시글에서 좋아요,싫어요 를 수정 (좋아요를 싫어요로 변경) update(boardPrefer)</li>
                <li>게시글에서 좋아요,싫어요 를 삭제 (좋아요를 취소하면 삭제) delete(int boardPreferNo)</li>
                <li>로그인한 유저가 해당 게시글에 좋아요 싫어요를 했는지 확인 
                    (한번만 정의하기 위해 확인용+뷰에 로그인한 사람이 좋아요를 했다면 표시하기 위해) 
                    findByBoardNoAndUserId(int boardNo,String userId)
                </li>
            </ul>
        </li>
        <li>BoardPreferMapperTest 생성후 테스트 진행</li>
        <li>BoardMapper 인터페이스와 xml에 countPreferById 생성하고 사용할 sql 문 정의
            <ul>
                <li>게시글 조회시 좋아요와 싫어요를를 한 수  : BoardPreferViewDto countPreferById(int boardNo)</li>
                <li>resultMap.BoardPreferViewMap 정의 후 countPreferById를 fetch 조인으로 출력하게 변경 , 호출</li>
                <li>BoardPreferViewDto.likes=countByBoardNoAndPreferIsTrue</li>
                <li>BoardPreferViewDto.bads=countByBoardNoAndPreferIsFalse</li>
                <li>resultMap.BoardMap.boardPreferView 를 BoardPreferViewMap으로 정의 </li>
            </ul>
        </li>
        <li>BoardMapperTest 에 countPreferById 테스트 후 findById 에서 좋아요 싫어요 내역 출력 확인하기</li>

        <li>BoardPreferService 생성
            <ul>
                <li>BoardPreferViewDto detailBoardPreferView(boardNo,loginUserId) : 해당 게시글에 출력될 좋아요 싫어요 내역 BoardPreferViewDto 생성</li>
                <li>int register(BoardPreferDto boardPrefer) : 좋아요 싫어요 등록</li>
                <li>int modify(BoardPreferDto boardPrefer) : 좋아요를 싫어요로 수정</li>
                <li>int remove(int boardPreferNo) : 좋아요를 삭제</li>
                <li>BoardPreferDto detail(int boardNo,String loginUserId) : 로그인한 유저가 해당 게시글에 좋아요를 했는지 확인 </li>
            </ul>
        </li>
        <li>BoardController.detail(get:"/baoard/detail.do") 에 로그인한 유저가 있으면 BoardPreferService.detail 호출해서 좋아요 싫어요 내역 확인및 추가</li>
        <li>templates/board/boardPrefer.html 생성 및 templates/board/detail.html 에 th:include 로 포함
            <ul>
                <li>board 상세 페이지에 board.boardPreferView 를 호출하면  boardPrefer.html 을 포함하면 자동으로 조인해서 출력함</li>
                <li>BoardMapper.BoardMap.boardPreferView 을  BoardPreferViewMap 으로 맵팽했고 해당 map 에서 다시 호출을 정의함.</li>
                <li> 엄치척 아이콘 추가 : https://heroicons.com/ 에서 svg 복사 </li>
                <li> uikit 의 버튼에 아웃라인만 있는 디자인이 없어서 .like_button,.bad_button 추가 </li>
                <li> 로그인한 유저가 있으면 버튼에 .uk-active 추가 하도록 정의</li>
            </ul>
        </li>
        <li>BoardPreferController 생성후 좋아요 싫어요 요청 처리
            <ul>
                <li>view(get:"/board/prefer/view.do?boardNo=?[loginUser]) : 게시글 상세에서 포함되는 templates/board/boardPrefer.html 을 렌더링 하는 페이지 (ajax 호출시 내용이 변경되면 새로고침하기 위해 생성)</li>
                <li>
                    handler(patch:"/board/prefer/handler.do?boardNo=?"[loginUser:required=true]) : 좋아요 싫어요 버튼을 누르면 어떻게 하는지 처리하는 페이지
                    <ul>
                        <li>우선 유저가 좋아요 싫어요를 누른적이 있는지 확인 BoardPreferService.detail(boardNo,loginUserId)</li>
                        <li>레코드가 없다면 누른 버튼을 등록  :BoardPreferService.register()</li>
                        <li>레코드가 있는데 누른 버튼가 같은 것을 눌렀다면 삭제 : BoardPreferService.remove()</li>
                        <li>레코드가 있는데 다른 버튼을 눌렸다면 누른 버튼으로 수정 : BoardPreferService.modify()</li>
                        <li>처리가 완료되면 성공 1, 실패 0 메세지 반환 (status: 400[게시글 번호가 없거나 로그인이 안됨],405[다른 method 로 호출],500[db 서버 오류 다시 시도])</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>templates/board/boardPrefer.html button 에 온클릭 이벤트 재정의 및  /board/detail.html 에 이벤트를 실행할 함수 정의
            <ul>
                <li> 좋아요 싫어요 버튼을 a태그로 만드로 "/board/prefer/handler.do?boardNo=?&preferBtn=?"이 동기식으로 통신해서 수정되는지 테스트</li>
                <li> 좋아요 싫어요가 수정되는 것을 확인후 a 태그를 버튼으로 바꾸고 클릭 이벤트를 boardPreferHandler(boardNo,preferBtn)으로 정의 함</li>
                <li> /board/detail.html 에 boardPreferHandler 함수를 정의 하고 fetch api 로 (put: /board/prefer/handler.do) 를 호출해서 좋아요 싫어요 수정</li>
                <li> 수정이 완료된 것이 확인되면(state=1) fetch 로 다시 (put: /board/prefer/view.do)를 호출해 바뀐 내역을 화면에 출력</li>
            </ul>
        </li>
        <li>InterceptorConfig 에서  loginCheckInterceptor 의 ("/board/prefer/*.do") 요청 제외 : ajax 요청시 로그인 페이지로 갈 수 없기 때문 (400에러 처리해서 괜찮음)</li>
        <li>loginCheckInterceptor 에서 로그인 페이지로 가기전 페이지의 url 을 session.redirectUrl 로 저장했었는데 파라미터가 빠져있어서 추가함</li>
        <li>(get: /user/login.do)로그인폼 요청시 폼 요청 이전 페이지로 이동하기 위해서 session.redirectUrl 에 이전 페이지 url 추가 (request.getHeader("referer"))</li>
    </ol>
    
</div>
</html>