<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigdata6.spring_mybatis.mapper.ReplyMapper">
    <resultMap id="replyMap" type="ReplyDto" autoMapping="true">
        <id column="reply_no" property="replyNo" />
        <result property="imgPath" column="img_path"/>
        <result property="postTime" column="post_time"/>
        <result property="boardNo" column="board_no"/>
        <result property="userId" column="user_id"/>
        <result property="fkReplyNo" column="fk_reply_no"/>
        <collection property="replyList"
                    autoMapping="true"
                    javaType="java.util.ArrayList"
                    ofType="ReplyDto"
                    select="findByFkReplyNo"
                    column="reply_no"
                    fetchType="lazy">
        </collection>
    </resultMap>
    <!-- SELECT LAST_INSERT_ID() id  => param.reply.setReplyNo(id)-->
    <insert id="insert" parameterType="ReplyDto" useGeneratedKeys="true" keyProperty="replyNo">
        INSERT INTO REPLY ( title, contents, board_no, user_id, img_path,fk_reply_no)
            VALUE (#{title},#{contents},#{boardNo},#{userId},#{imgPath},#{fkReplyNo})
    </insert>
    <update id="updateById">
        UPDATE REPLY
            SET title=#{title}, contents=#{contents},img_path=#{imgPath}
            WHERE reply_no=#{replyNo}
    </update>
    <delete id="deleteById">
        DELETE FROM REPLY WHERE reply_no=#{replyNo}
    </delete>
    <!---->
    <select id="findAll" resultMap="replyMap">
        SELECT * FROM REPLY WHERE fk_reply_no IS NULL
           /* r LEFT JOIN REPLY rr
                ON r.reply_no=rr.fk_reply_no
            LEFT JOIN REPLY rrr
                ON rr.reply_no=rrr.fk_reply_no
            WHERE r.fk_reply_no IS NULL*/
    </select>
    <!-- parameterType 자동완성 된다.   -->
    <select id="findByBoardNoPaging" resultMap="replyMap">
        SELECT * FROM REPLY
                 WHERE board_no=#{boardNo}
                    AND fk_reply_no IS NULL
                 ORDER BY
                <choose>
                    <when test="paging.orderField==null">board_no</when>
                    <otherwise>${paging.orderField}</otherwise>
                </choose>
                    ${paging.direct}
                 LIMIT #{paging.startRow},#{paging.rows}
    </select>
    <select id="countByBoardNo" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM REPLY WHERE board_no=#{boardNo}
    </select>
    <select id="findById" resultMap="replyMap">
        SELECT * FROM REPLY WHERE reply_no=#{replyNo}
    </select>
    <select id="findByBoardNo" resultMap="replyMap">
        SELECT * FROM REPLY WHERE board_no=#{boardNo}
    </select>
    <select id="findByUserIdPaging" resultMap="replyMap"></select>
    <select id="countByUserId" resultType="java.lang.Integer"></select>
    <select id="findByFkReplyNo" resultMap="replyMap">
        SELECT * FROM REPLY WHERE fk_reply_no=#{replyNo}
    </select>
</mapper>