<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sessionFactory 가 작성한 sql Mapper 를 해당 타입으로 객체를 생성한다.-->
<mapper namespace="com.bigdata6.spring_mybatis.mapper.UserMapper">
    <!-- id: 해당 타입의 method 이름  -->
    <select id="findAll" resultType="com.bigdata6.spring_mybatis.dto.UserDto">
        SELECT * FROM USER
    </select>
    <!-- #{ 필드명 }  : 필드의 값을 value 대입  user_id=#{id} => user_id='user1'  -->
    <!-- ${ 필드명 }  : 필드의 값을 예약어나 필드명으로 대입  ORDER BY ${order} => ORDER BY user_id  -->
    <!-- List<UserDto> findPaging(pagingDto) -->
    <select id="findPaging"
            resultType="com.bigdata6.spring_mybatis.dto.UserDto"
            parameterType="com.bigdata6.spring_mybatis.dto.PagingDto">
        SELECT * FROM USER
            <if test="orderField!=null">
                ORDER BY ${orderField} ${direct}
            </if>
            LIMIT #{startRow},#{rows}
    </select>
    <!--int count(PagingDto paging);-->
    <select id="count"
            resultType="int"
            parameterType="com.bigdata6.spring_mybatis.dto.PagingDto">
        SELECT COUNT(*) FROM USER
    </select>
</mapper>