<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sessionFactory 가 작성한 sql Mapper 를 해당 타입으로 객체를 생성한다.-->
<mapper namespace="com.bigdata6.spring_mybatis.mapper.UserMapper">
    <!-- id: 해당 타입의 method 이름  -->
    <select id="findAll" resultType="com.bigdata6.spring_mybatis.dto.UserDto">
        SELECT * FROM USER
    </select>
    <!-- #{ 필드명 }  : 필드의 값을 value 대입  user_id=#{id} => user_id='user1'  -->
    <!-- ${ 필드명 }  : 필드의 값을 예약어나 필드명으로 대입  ORDER BY ${order} => ORDER BY user_id  -->
    <!-- List<UserDto> findPaging(pagingDto) -->
    <select id="findPaging"
            resultType="com.bigdata6.spring_mybatis.dto.UserDto"
            parameterType="com.bigdata6.spring_mybatis.dto.PagingDto">
        SELECT * FROM USER
            <if test="orderField!=null">
                ORDER BY ${orderField} ${direct}
            </if>
            LIMIT #{startRow},#{rows}
    </select>
    <!--int count(PagingDto paging);-->
    <select id="count"
            resultType="int"
            parameterType="com.bigdata6.spring_mybatis.dto.PagingDto">
        SELECT COUNT(*) FROM USER
    </select>
    <!--  CRUD.T findById(P id) => UserDto findById(String id) -->
    <select id="findById" resultType="UserDto" parameterType="String">
        SELECT * FROM USER WHERE user_id=#{id}
    </select>
    <!-- int updateById(UserDto dto); -->
    <update id="updateById" parameterType="UserDto">
        UPDATE USER SET
            name=#{name},
            pw=#{pw},
            phone=#{phone},
            email=#{email},
            birth=#{birth},
            signup=#{signup}
            WHERE user_id=#{user_id}
    </update>
    <!-- int insert(UserDto dto);   -->
    <insert id="insert" parameterType="UserDto">
        INSERT INTO USER (user_id,name,pw,phone,email,birth) VALUES
        (#{user_id},#{name},#{pw},#{phone},#{email},#{birth})
    </insert>
    <!-- int deleteById(String id);   -->
    <delete id="deleteById" parameterType="String">
        DELETE FROM USER WHERE user_id=#{id}
    </delete>
    <!-- UserDto findByUserIdAndPw(String userId,String pw);   -->
    <select id="findByUserIdAndPw" resultType="UserDto">
        SELECT * FROM USER WHERE user_id=#{userId} AND pw=#{pw}
    </select>
</mapper>